---
import Heading from '../components/Heading.astro';
const leftContent = {
    description: 'We are Akeshya, a firm that specializes in web design and marketing. We help transform ideas into reality with a team of passionate graphic designers, web developers, and seasoned marketing advisors.',
    listItems: [
        'We started with a simple idea: do what is best for the client.',
        'Our methodical and individual approach to each project delivers the finest possible results for your media.',
        'Our day-to-day work is to solve your problems utilising the most up-to-date, practical adaptive technology, and we have a lot of fun doing it.'
    ]
};
const rightContent = {
    additionalDescription: "We're professional, but we're also friendly, and we'll always pay attention to your concerns. We expect to work with innovative people that have an open mind and are dedicated to making every idea a reality. We want to hear from you if you're interested in SEO, have Web Development ideas, or require a graphic designer who can match your goals."
};
---

<section class="about-us-section" id="about">
    <Heading />
    <div class="about-us-container">
        <div class="left-content content-section">
            <p>{leftContent.description}</p>
            <ul class="custom-list">
                {leftContent.listItems.map(item => (
                    <li key={item}>{item}</li>
                ))}
            </ul>
        </div>
        <div class="right-content content-section">
            <p>{rightContent.additionalDescription}</p>
            <button class="contact-button">Contact Us</button>
        </div>
    </div>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

        .about-us-section {
            background-color: #f9f9f9;
            padding: 40px 20px;
            text-align: center;
        }

        .about-us-container {
            display: flex;
            flex-direction: column;
            max-width: 1200px;
            margin: 2rem auto;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .content-section {
            width: 100%;
            text-align: left;
            padding: 20px;
            box-sizing: border-box;
            opacity: 0;
            animation: slideInUp 1s forwards ease-out;
        }

        .left-content {
            font-size: 20px;
        }

        .right-content {
            font-size: 20px;
        }

        .right-content p{
            font-size: 17px;
            line-height: 1.3rem;
            font-family: 'Open Sans', sans-serif;
        }

        h2 {
            font-size: 2rem; /* Reduced font size */
            color: #0e0d0d;
            margin-top: 5rem;
            font-family: 'Raleway', sans-serif;
            text-align: center; /* Center align the h2 */
        }

        p {
            font-size: 17px;
            color: #666;
            line-height: 1.3;
        }

        .custom-list {
            list-style-type: none; /* Remove default bullet points */
            padding-left: 20px; /* Add padding to the left */
            font-family: 'Open Sans', sans-serif; /* Use Open Sans */
        }

        .custom-list li {
            font-size: 17px; /* Adjust font size */
            color: #666;
            line-height: 1.3;
            margin-bottom: 10px; /* Adjust margin bottom */
            position: relative;
            padding-left: 30px; /* Space for the custom tick mark */
        }

        .custom-list li::before {
            content: '\2713\0020'; /* Unicode for double tick mark and space */
            font-size: 1.4rem; /* Adjust size of the tick mark */
            position: absolute;
            left: 0;
            top: 0;
        }

        .contact-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #f3f5f8;
            color: #162be8;
            font-size: 1.25rem;
            border: 2px solid #162be8;
            cursor: pointer;
            border-radius: 50px;
            transition: background-color 0.3s ease;
        }

        .contact-button:hover {
            background-color: #1b18dc;
            color: #f3f5f8;
        }

        @keyframes slideInUp {
            0% {
                transform: translateY(50px);
                opacity: 0;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }

        @media (min-width: 768px) {
            .about-us-container {
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
            }

            .left-content, .right-content {
                flex: 1;
                max-width: 50%;
            }

            .left-content {
                padding-right: 20px;
            }

            .right-content {
                padding-left: 20px;
            }
        }
    </style>
</section>
