---
const title = 'Grow your business with Akeshya';
const subtitle = 'We are team of talented website designers and developers & digital marketeers.';
---
<section class="hero-section">
    <div class="hero-container">
        <div class="text-content">
            <h1>{title}</h1>
            <p>{subtitle}</p>
            <button class="start-button">Get Started</button>
        </div>
        <div class="image-content">
            <img class="animated-image" src="./public/images/hero-img.png" alt="Animated Image">
        </div>
    </div>
    <style>

    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

        .hero-section{
            background: white;
            width: 100%;
            height: 70vh;
        }
        .hero-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }
        
        .text-content {
            flex: 1;
            padding-right: 20px;
            margin-left: 7rem;
        }
        
        .text-content h1 {
            font-size: 3rem;
            margin-bottom: 10px;
            color: rgb(20, 39, 155);
            font-family: Raleway, sans-serif;
        }
        
        .text-content p {
            font-size: 1.60rem;
            line-height: 1.2;
            color: rgb(72, 72, 72);
        }
        
        .start-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #f3f5f8;
            color: #162be8;
            font-size: 1.25rem;
            border: 1px solid #162be8; 
            cursor: pointer;
            border-radius: 20px;
            transition: background-color 0.3s ease;
        }
        
        .start-button:hover {
            background-color: #1b18dc;
            color: #f3f5f8 ;
        }
        
        .image-content {
            flex: 1;
            text-align: center;
            position: relative;
        }
        
        .animated-image {
            margin-right: 7rem;
            max-width: 100%;
            height: auto;
            display: block;
            animation: float 3s ease-in-out infinite;
        }
        
        @keyframes float {
            0%, 100% {
                transform: translatey(0);
            }
            50% {
                transform: translatey(-10px);
            }
        }
    </style>
</section>
